<h1>{{title}}</h1>

<form onsubmit="submitZip(document.getElementById('zip-field').value); return false">
  <p>Welcome to {{title}}.</p>
  <p>Enter a U.S. ZIP code to get started:</p>
  <p><input autofocus type="text" maxlength="5" id="zip-field" size="5"></p>
  <p><button type="submit" id="submit-btn">Submit</button></p>
</form>

<script>

function submitZip(zip) {
  if (zip.length !== 5) {
    return;
  }

  window.location = "/" + zip;
}

</script>
