<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form onsubmit="submitZip(document.getElementById('zip-field').value); return false">
  <p><input autofocus type="text" maxlength="5" id="zip-field" placeholder="Enter a U.S. ZIP code"></p>
  <p><button type="submit">Submit</button></p>
</form>

<script>

function submitZip(zip) {
  if (zip.length !== 5) {
    return;
  }

  window.location = "/" + zip;
}

</script>
