@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.summary, .temp {
  font-size: 2em;
}

.apparent-temp {
  color: rgba(0,0,0,0.4);
  position: absolute;
  margin-top: 35px;
  margin-left: -200px;
  width: 200px;
  text-align: right;
}

.start-over {
  margin-top: 2em;
}
